rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /leads/{leadId} {
      allow create: if true;
      allow read, update, delete: if false;
    }

    match /blogs/{blogId} {
      allow read: if true;
      allow write: if true; // TODO: Change to `request.auth != null` after adding Firebase Auth
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
